<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Your Mobile - Device Tycoon</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/design-page-mobile.css">
</head>
<body>
    <div id="design-mobile">
        <h2>Design Your Mobile Phone</h2>
        <ul>
            <li><button class="navbutton" data-section="appearance">Appearance</button></li>
            <li><button class="navbutton" data-section="display">Display</button></li>
            <li><button class="navbutton" data-section="camera">Camera</button></li>
            <li><button class="navbutton" data-section="hard-drive">Hard Drive</button></li>
            <li><button class="navbutton" data-section="devices">Devices</button></li>
            <li><button class="navbutton" data-section="storage">Storage</button></li>
            <li><button class="navbutton" data-section="security">Security</button></li>
            <li><button class="navbutton" data-section="sound">Sound</button></li>
            <li><button class="navbutton" data-section="features">Features</button></li>
        </ul>        
        
        <div id="content">
            <div id="appearance" class="content-section">
                <h2>Appearance</h2>

                <label for="width">Width: </label>
                <div id="options"></div>
                <br>
                <label for="length">Length: </label>
                <div id="options"></div>
                <br>
                <label for="thickness">Thickness: </label>
                <div id="options"></div>                
                <br>
                <label for="angles">Angle:</label>
                <div id="options"></div>
                <br>
                <label for="home-button">Home Button:</label>
                <div id="options"></div>
                <br>
                <label for="rgb-backlight">RGB Backlight:</label>
                <div id="options"></div>
                <br>
                <label for="colors">Colors:</label>
                <div id="options"></div>
                <br>
                <label for="antennas">Antennas:</label>
                <div id="options"></div>
            </div>

            <div id="display" class="content-section">
                <h2>Display</h2>
                <label for="display">Display: </label>
                <div id="options"></div>
                <br>
                <label for="resolution">Resolution: </label>
                <div id="options"></div>
                <br>
                <label for="refresh-rate">Refresh Rate:</label>
                <div id="options"></div>
                <br>
                <label for="display-type">Display Type</label>
                <div id="options"></div>
                <br>
                <label for="protection">Protection:</label>
                <div id="options"></div>
                <br>
                <label for="screen-density">Screen Density:</label>
                <div id="options"></div>
                <br>
                <label for="hdr-screen">HDR Screen:</label>
                <div id="options"></div>
            </div>
            <div id="camera" class="content-section">
                <h2>Camera</h2>
                <label for="camera">Camera:</label>
                <div id="options"></div>
                <br>
                <label for="number-of-cameras">Number of Cameras:</label>
                <div id="options"></div>
                <br>
                <label for="camera-resolution">Camera Resolution:</label>
                <div id="options"></div>
                <br>
                <label for="megapixels">Megapixels:</label>
                <div id="options"></div>
                <br>
                <label for="ultra-wide">Ultra Wide Camera:</label>
                <div id="options"></div>
                <br>
                <label for="zoom">Zoom:</label>
                <div id="options"></div>
                <br>
                <label for="portrait-mode">Portrait Mode:</label>
                <div id="options"></div>
                <br>
                <label for="night-mode">Night Mode:</label>
                <div id="options"></div>
                <br>
                <label for="cinimatic-mode">Cinimatic Mode:</label>
                <div id="options"></div>
                <br>
                <label for="vide-resolution">Video Resolution:</label>
                <div id="options"></div>
                <br>
                <label for="video-fps">Video FPS:</label>
                <div id="options"></div>
                <br>
                <label for="optical-stabilization">Optical Stabilization:</label>
                <div id="options"></div>
                <br>
                <label for="slow-motion">Slow Motion:</label>
                <div id="options"></div>
                <br>
                <label for="selfie-camera-resolution">Selfie Camera Resolution:</label>
                <div id="options"></div>
            </div>
            <div id="hard-drive" class="content-section">
                <h2>Hard Drive</h2>
                <label for="processor">Processor:</label>
                <div id="options"></div>
                <br>
                <label for="processor-series">Processor Series:</label>
                <div id="options"></div>
                <br>
                <label for="refresh-rate">Refresh Rate:</label>
                <div id="options"></div>
                <br>
                <label for="cache-memory">Cache Memory:</label>
                <div id="options"></div>
                <br>
                <label for="cors">Cors:</label>
                <div id="options"></div>
                <br>
                <label for="graphic-processor">Graphic Processor:</label>
                <div id="options"></div>
                <br>
                <label for="cpu-update-frequency">CPU Update Frequency:</label>
                <div id="options"></div>
                <br>
                <label for="ram">RAM:</label>
                <div id="options"></div>
                <br>
                <label for="ram-type">RAM Type:</label>
                <div id="options"></div>
            </div>
            <div id="devices" class="content-section">
                <h2>Devices</h2>
                <label for="battery">Battery:</label>
                <div id="options"></div>
                <br>
                <label for="network">Network:</label>
                <div id="options"></div>
                <br>
                <label for="bluetooth">Bluetooth:</label>
                <div id="options"></div>
                <br>
                <label for="mini-jack">Mini Jack:</label>
                <div id="options"></div>
                <br>
                <label for="charge-type">Charge Type:</label>
                <div id="options"></div>
                <br>
            </div>
            <div id="storage" class="content-section">
                <h2>Storage</h2>
                <label for="rom">ROM:</label>
                <div id="options"></div>
                <br>
                <label for="micro-sd">Micro SD:</label>
                <div id="options"></div>
            </div>
            <div id="security" class="content-section">
                <h2>Security</h2>
                <label for="password">Password:</label>
                <div id="options"></div>
                <br>
                <label for="pin">PIN:</label>
                <div id="options"></div>
                <br>
                <label for="fingerprint">Fingerprint:</label>
                <div id="options"></div>
                <br>
                <label for="face-recognition">Face Recognition:</label>
                <div id="options"></div>
            </div>
            <div id="sound" class="content-section">
                <h2>Sound</h2>
                <label for="speaker">Speaker:</label>
                <div id="options"></div>
                <br>
                <label for="speaker-series">Speaker Series:</label>
                <div id="options"></div>
                <br>
                <label for="num-of-speakers">Number of Speakers:</label>
                <div id="options"></div>
                <br>
                <label for="acostic-channel">Acostic Channel:</label>
                <div id="options"></div>
            </div>
            <div id="features" class="content-section">
                <h2>AFeatures</h2>
                <label for="ai_photo_edit">AI Photo Edit:</label>
                <div id="options"></div>
                <br>
                <label for="ai_video_edit">AI Video Edit:</label>
                <div id="options"></div>
                <br>
                <label for="ai_photo_enhancer">AI Photo Enhancer:</label>
                <div id="options"></div>
                <br>
                <label for="ai_generative">Generative AI:</label>
                <div id="options"></div>
            </div>
        </div>
    </div>
    <script src="../js/app.js"></script>
    <script src="../js/design-page-mobile.js"></script>
</body>
</html>
